* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Mukta Mahee','Arial', sans-serif;
    color: #000;
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 16px;
    line-height:1.5;
}


#navbar-header{
    background-color: transparent
}

.navbar-brand{
        padding:3px;
    height:auto
}


nav ul {
        padding: 20px;
    list-style: none;
    text-align: right;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
/*    background: #d5d3dd;*/
}

nav a:hover {
    color: #d5d3dd;
    background: #1e7ad2;
    background color:transparent;
        text-decoration: none;
}

.navbar-brand a:hover {
        background color:transparent;
}


#hero{
    background-image:url(.../img/here.jpg);
    background-size:
}

#s1{
    text-align: center;
}


@media screen and (min-width: 700px) {
    #solutions{
/*    margin-left:3.125%;*/
    margin-left:2.125%;
    color:#000;
    display: inline;
/*    text-align: center;*/
/*    width: 320px;*/
/*    max-width: 320px;*/
/*
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
*/
}
}

@media screen and (max-width: 700px) {
#solutions{
    display:none;
    margin-left:4.68755%;
    color:#000;
    width:230px;
    max-width: 230px;
    }
}
    
@media screen and (min-width: 700px) {
#llc{
    margin-left:-41%;
    color:#969696;
    display: inline-block;
}
}

@media screen and (max-width: 700px) {
#llc{
    font-size: 20px;
/*    margin-left:-41%;*/
    color:#969696;
    display: inline-block;
}
}

@media screen and (min-width: 700px) {
#logo{
    width:auto;
    max-width:200px;
    margin-top: 1.5625%;
}
}

@media screen and (max-width: 700px) {
#logo{
    width:auto;
    max-width:50px;
    margin-top: 3.4375%;
    margin-left: 1.5625%;
}
}

@media screen and (min-width: 700px) {
#s1 h1{
    color:#969696;
    margin-left:0.25%;
    margin-right: 431px;
    padding: 20px;
    display: inline-block;
}
}

@media screen and (max-width: 700px) {
#s1 h1{
    font-size: 30px;
    color:#969696;
    margin-left: -0.75%;
/*    margin-right: 5px;*/
    padding-left: 20px;
    display: inline-block;
}
}

#carousel-example-generic{
	position:relative;
}

@media screen and (min-width: 700px) {
.carousel-caption h1{
	position:absolute;
	top:-750px;
	width:100%;
	text-align: center;
	color:#fff;
	text-shadow:0px 0px 20px rgba(0,0,0,1);
}
    }

@media screen and (max-width: 700px) {
.carousel-caption h1{
	position:absolute;
    font-size: 30px;
	top:-125px;
	width:100%;
	text-align: center;
	color:#fff;
	text-shadow:0px 0px 20px rgba(0,0,0,1);
}
    }




footer{
        text-align: center;
}


#hero {
	background-image: url(../img/stock-photo-businessman-pressing-a-solution-concept-button-357968705.jpg);
	background-size: 100% auto;
	background-attachment: fixed;
	background-position: center center;
	padding: 80px 0px 0px 0px;
	height: 265vh;
/*	display: flex;*/
}


#s2 h3{
    text-align: center

}

footer h1{
    text-align: center;
        color:#fff;
	text-shadow:0px 0px 20px rgba(0,0,0,1);
        font-size: 55px;
}


#map{
    padding:30px;
}

#map iframe{
    width:100%;
}

#contact{
    align-content: right;
                color:#fff;
	text-shadow:0px 0px 20px rgba(0,0,0,1);
}

#contact label{
                    color:#fff;
                font-size: 24px;
            padding-bottom: 20px;
            display: inline-block;
            width: 100%;
}

#contact p{
                    color:#fff;
}

input{
    color:#000
}

textarea{
    color:#000
}