* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Mukta Mahee','Arial', sans-serif;
    color: #000;
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 16px;
    line-height:1.5;
}
.navbar-brand{
        padding:3px;
}

nav ul {
        padding: 20px;
    list-style: none;
    text-align: right;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    background: #d5d3dd;
}

nav a:hover {
    color: #d5d3dd;
    background: #1e7ad2;
        text-decoration: none;
}

#hero{
    background-image:url(.../img/here.jpg);
    background-size:
}

#s1{
    text-align: center;
}

#s1 h1{
    color:#969696;
    margin-left:-75px;
    padding: 20px;
    display: inline-block;
}

#llc{
        margin-left:-10px;
    color:#969696;
    display: inline-block;
}

#logo{
    width:auto;
    max-width:200px;
}

#carousel-example-generic{
	position:relative;
}

.carousel-caption h1{
	position:absolute;
	top:-750px;
	width:100%;
	text-align: center;
	color:#fff;
	text-shadow:0px 0px 20px rgba(0,0,0,1);
	
}